<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodedUI.jQueryExtensions" version="1.0.4.5" targetFramework="net45" />
  <package id="Configuration" version="0.1.3" targetFramework="net45" />
  <package id="ExpectedObjects" version="2.3.1" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.VisualStudio.UnitTesting" version="11.0.50727.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net45" />
  <package id="NLog.Web" version="4.5.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.8.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="2.33" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.6.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.7.0" targetFramework="net45" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net45" />
  <package id="slf4net.log4net" version="0.1.32.1" targetFramework="net45" />
  <package id="SpecFlow" version="2.2.1" targetFramework="net45" />
  <package id="SpecRun.Runner" version="1.6.1" targetFramework="net45" />
  <package id="SpecRun.SpecFlow" version="1.6.1" targetFramework="net45" />
  <package id="SpecRun.SpecFlow.2-2-0" version="1.6.1" targetFramework="net45" />
  <package id="System.Configuration.Abstractions" version="2.0.2.26" targetFramework="net45" />
  <package id="Test" version="2.0.1.1" targetFramework="net45" />
  <package id="Unit" version="1.0.0.0" targetFramework="net45" />
</packages>